@import "./variable";
@import "./reset";
@import "./header";
@import "./social";
@import "./customer";
@import "./dashboard";
@import "./subcribe";
@import "./footer";
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.btn {
  padding: 14px 40px;
  color: #fff8f8;
  background-color: $pink-color;
  border-radius: 30px;

  &:hover {
    background-color: $pink-main;
    color: white;
    transition: all 0.3s linear;
  }
  &-login {
    margin-left: 40px;
    display: block;
  }
  &-sub {
    // display: ;
    margin-left: 60px;
  }
}
