.header-pink {
  background-color: $pink-color;
  .navbar {
    padding: 14px 0;
  }
  .list-item-link {
    &::after {
      background-color: $green-color;
    }
  }
  .btn {
    &:hover {
      background-color: $green-color;
      transition: all 0.3s linear;
      transform: scale(1.02);
    }
  }
  .login-box__register {
    &:hover {
      color: $green-color;
    }
  }
}
